.container0
{
    text-align: center;
    width: 100%;height: 48px;
    color:black;

   
}
.container1 
{
    width: 100%;height: 500px;
    background-color:white;
    color:black;
    text-align: center;
}

#image1
{
    width: 250px;height: 420px;
    float: right;
    padding: 0px;
    margin-top: 40px;
    margin-right: 95px;   
    margin-left: 110px; 
}

.container2 
{
    width: 100%;height: 500px;
    background-color: grey;
    text-align: center;
    color: white;
}

#image4
{
    width: auto;height:auto;
    float: left;
    padding: 0px;
    margin-left: 20px;
    margin-top: 100px;
}

.container3
{
    width: 100%;height: 610px;
    background-color: white;
    text-align: center;
    color: black;
    
}

#image5
{
    width: 500px;height: 350px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 70px;
    float: right;
}

.heading{
    color: #FFCA18;
    font-weight: 600;
    margin-top: 70px;
}

.dates{
    color:#dbae18;
    font-size:28px;
}

.dates1
{
    color:#FFCA18;
    font-size:28px;
}