.cnhbt{
    text-align: left;
    margin-left: 19%;
}

.cnhbt h1{
    font-size: 100px; 
    font-weight: 400; 
    color: #010932;
    display: inline;
}

.cnhbt span{
    font-size: 30px;
    font-weight: 200;
}

.cnhbt h3{
    font-size: 70px; 
    font-weight: 350; 
    color: #010932;
    display: inline;
}

.cnhbt a{
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.btn{
    background-color: #f4511e;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 30px;
    margin: 4px 2px;
    opacity: 1;
    transition: 0.3s;
    cursor: pointer;
}

.btn:hover{
    opacity: 0.6
}