.cnhbt{
    text-align: left;
    margin-left: 19%;
}

.cnhbt h1{
    font-size: 100px; 
    font-weight: 400px; 
    color: #010932;
    display: inline;
}

.cnhbt span{
    font-size: 30px;
    font-weight: 200;
}

.cnhbt h3{
    font-size: 70px; 
    font-weight: 350; 
    color: #010932;
    font-family: 'Montserrat';
    display: inline;
}

.cnhbt a{
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.button {
    border-radius: 8px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    
    padding: 10px 14px;
    width: 240px;
  
    cursor: pointer;
    margin: 5px;
    box-shadow: inset 0 0 0 0 #D80286;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
  }

  .slide_right:hover {
    box-shadow: inset 400px 0 0 0 #140253;
  }
  
  .button span {
      
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    font-size: 27px;;
  }
  
  .button span:after {
    
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
   
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }