* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{

    font-family: 'Montserrat';
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg,#FFCA18,#ff6600);
    color: #010932;
    padding: 10px;
}

.container{
    max-width: 700px;
    width: 100%;
    background-color: #FFFFFF;
    box-shadow: 2px 2px 5px #010932 ;
    padding: 25px 30px;
    border-radius: 5px;
}

.container .title{
}

.container .title::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background: linear-gradient(120deg,#FFCA18,#ff6600);
}

.container form .user-details{
    display: flex;
}

form .user-details .input-box{
    margin: 20px 0 12px 0;
    width: calc(100% / 2 - 20px);
}

.user-details .input-box .details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px; 
}

.user-details .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
}